#!/usr/bin/make -f

%:
	dh $@

build:
	make

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs

	make install DESTDIR=$(CURDIR)/debian/gcmpipe

binary: binary-arch binary-indep

binary-arch: install
	dh_testdir
	dh_testroot
	dh_strip
	dh_fixperms
	chown root.root debian/gcmpipe/usr/bin/gcmpipe
	chmod 4755 debian/gcmpipe/usr/bin/gcmpipe

